@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  overflow-x: hidden;

  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  min-width: 320px;
  min-height: 100vh;
}

.portal {
  @apply w-21 md:w-24 h-21 md:h-24 rounded-xl p-1 text-sm font-bold text-[#FFFFFF] bg-[#0c73aeb6] hover:bg-[#0c4daeb6] flex items-center justify-center text-center transition-all;
}

.slider {
  @apply h-[90%] top-[50%] -translate-y-[50%] w-screen transition-all duration-300 shadow-2xl;
}

.link {
  @apply hover:ml-4 hover:text-blue-400 transition-all;
}
